<h1><%= I18n.t('about.data', :default => 'License') %></h1>

<%= raw I18n.t('about.license.expanded', :default => 'The data on HistVest (topics, and their respective locations, references and images) are licensed under <a href="http://data.norge.no/nlod/en">NLOD</a>.') %>


<h1><%= I18n.t('about.source_code', :default => 'Source Code') %></h1>

<%= I18n.t('about.source_code.expanded', :default => 'The code thats running on HistVest is <a href="https://github.com/globalitdevelopment/histvest/">open source.</a>') %>
