

  <div style="position: fixed; top: 5px; right: 100px; z-index: 9999; background: #fff; border: #ddd; padding: 5px;">
    <label><input type="checkbox" checked="checked" id="show_topics"> Tema</label>
    <label><input type="checkbox" checked="checked" id="show_census"> Census</label>
  </div>
  <div class="map_container" style="height: 100%; width: 100%;">
    <div id="map" style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);"></div>
  </div>

<script>    
  var mapLoad = function() {
    Gmaps4HistVest.map = new Gmaps4HistVest();
    Gmaps4HistVest.map.initialize();
    $.getJSON('/home-topics.json', {touch: true}, function(data) {
      Gmaps4HistVest.map.markers = data;
      Gmaps4HistVest.map.touch_version = true;
      Gmaps4HistVest.map.create_markers('click');
      Gmaps4HistVest.map.adjust_to_bounds();
      Gmaps4HistVest.map.clusterize();
      Gmaps4HistVest.map.peopleBindings();        
      Gmaps4HistVest.map.togglerBindings();
    });

    $(window).resize(function() {
      var mapHeight = $(window).height();
      $('#map').css('height',mapHeight);    
      google.maps.event.trigger(Gmaps4HistVest.map, 'resize');
    });
    $(window).resize();
  };
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js" type="text/javascript"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDKN-34cs1baWHGc8qPX0CKEKCQDasyWFE&callback=mapLoad"></script>