<div class="search-box">                      
  <input type="text" id="add-location-input" >
  <a href="javascript:;" id="add-location"><span class="glyphicon glyphicon-plus-sign location-add"></span></a>
</div>
<div class="location-list">
  <ul class="selectn"></ul> 
</div>
