/* 
 *= require bootstrap/bootstrap
 *= require bootstrap/bootstrap-theme
 *= require leaflet/leaflet
 *= require leaflet-extra
 *= require_self
 */

body { padding-top: 50px; } 
#results { 
	overflow: auto;
	position: relative;		
	article {
		border-bottom: 1px solid #ccc;
		cursor: pointer;		
		&:hover { background-color: #e9e9e9; }		
	}
	section.active article { background-color: #9e9e9e; }
}